@charset "utf-8";
/*通用设置*/
.companyRcodeshow{position:relative;font-size:16px;width:100%;height:100%;font-family:'Microsoft Yahei', Tahoma, Helvetica, Arial, sans-serif;text-align:center;padding:0 1%;margin:0 auto;background:#fff;position:fixed;top:101%;z-index:9999;}
/*字号设置*/
.titleSize{font-size:1.125em;}
.textSize{font-size:0.875em;}
.littleTipSize{font-size:0.75em;}
.rcodeTipSize{font-size:0.688em;}
.iconSize{font-size:5em;}
/*字体颜色*/
.titleColor{color:#2d3e4f;}
.textColor{color:#35495d;}
.littleTipColor{color:#95a5a6;}
.iconColor{color:#007aff;}
/*字体样式设置*/
.weight{font-weight:bold}
.textlineHeight{line-height:1.4em;}
.titlelineHeight{line-height:2.4em;}
/*间距设置*/
.litInterval{margin-bottom:10px;}
.bigInterval{margin-bottom:30px;}
/*test*/
.red{border:1px solid red;}
/*else*/
header{width:100%;height:40%;padding-top:10%}
.companyRcode{width:100%;height:10%;margin-bottom:5%}
.wodaolaRcode{width:100%;height:30%}
.companyIcon{text-align: center;width:4.5em;height:4em;}
.copyCode{display:inline-block;border:2px dotted #95a5a6;padding:0.2em 1em;}
.copyCode p{margin-bottom:0px;}
.inviteCode{letter-spacing: 1px;}
.rCodeImg{width:7em;height:7em;}
.closePage{font-weight:400;line-height:1.42;position:absolute;bottom:20px;left:50%;margin-left:-43px;display:inline-block;margin-bottom:0;padding:6px 15px;text-align:center;vertical-align:top;white-space:nowrap;border-radius:3px;background-clip:padding-box;background-color:#007aff;border:1px solid #007aff;color:#fff;}
.closePage:active{background:#fff;color:#007aff;border:1px solid #007aff}